@import 'tailwindcss';
@plugin "daisyui" {
  themes:
    light --default,
    dark;
}

:root {
  --p-inputtext-background: var(--color-base-300) !important;
  --p-inputtext-color: var(--color-base-content) !important;

  --p-autocomplete-overlay-background: var(--color-base-200) !important;
  --p-autocomplete-option-color: var(--color-base-content) !important;
  --p-autocomplete-option-focus-background: var(--color-accent) !important;
}
