<div class="app-sidebar">
  <h1>Wikipedia Speedrun</h1>
  @switch (gameStateService.state()) {
    @case (AppState.MENU) {
      <ng-container *ngTemplateOutlet="menu"></ng-container>
    }
    @default {
      <ng-container *ngTemplateOutlet="progress"></ng-container>
    }
  }
</div>

<ng-template #menu>
  <div class="flex-col mx-auto">
    <p>Select the articles to begin.</p>
    <app-article-search-box label="Start Article" (select)="onStartArticleSelected($event)"> </app-article-search-box>
    <app-article-search-box label="End Article" (select)="onEndArticleSelected($event)"> </app-article-search-box>
    <button
      [class.btn-disabled]="!gameStateService.isReady()"
      class="btn btn-success w-1/2 mt-4 rounded-2xl"
      (click)="gameStateService.onStart()">
      Start
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="w-5 h-5 p-0.5">
        <path d="M6.3 2.841A1.5 1.5 0 004 4.11V15.89a1.5 1.5 0 002.3 1.269l9.344-5.89a1.5 1.5 0 000-2.538L6.3 2.84z" />
      </svg>
    </button>
  </div>
</ng-template>

<ng-template #progress>
  <h4 class="flex mx-2 flex-wrap">
    {{ gameStateService.startArticle()?.title + '->' + gameStateService.endArticle()?.title }}
  </h4>
  <div class="flex flex-col">
    <div #tableRef class="overflow-y-auto h-4/6 max-h-96 mx-2 w-full overflow-x-visible">
      <table class="table table-zebra table-compact border border-base-100 p-2">
        <thead>
          <tr>
            <th class="pl-2">Title</th>
            <th>Time</th>
          </tr>
        </thead>
        <tbody>
          @for (item of gameStateService.progressTable(); track item.time) {
            <tr>
              <td class="pl-2">{{ item.title }}</td>
              <td>{{ item.time }}</td>
            </tr>
          }
        </tbody>
      </table>
    </div>
    <div class="rounded-2xl bg-base-300 m-2 p-2">
      <h1 class="text-2xl text-green-600 my-auto">{{ 123 }}</h1>
    </div>

    @if (gameStateService.state() === AppState.ENDED) {
      <button (click)="gameStateService.onReset()" class="btn btn-success w-1/2 mt-4 mx-auto rounded-2xl">
        New Game
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="w-5 h-5 p-0.5">
          <path
            d="M6.3 2.841A1.5 1.5 0 004 4.11V15.89a1.5 1.5 0 002.3 1.269l9.344-5.89a1.5 1.5 0 000-2.538L6.3 2.84z" />
        </svg>
      </button>
    }
  </div>
</ng-template>
