<div class="app-sidebar">
  <div #timelineRef class="overflow-y-auto">
    <ul class="timeline timeline-vertical">
      @for (item of gameStateService.articleHistory(); track item.time; let i = $index) {
        <li>
          @let isCurrentArticle = i === gameStateService.articleHistory().length - 1;
          @let isEndArticle = item.title === gameStateService.endArticle()?.title;

          @if (i > 0) {
            <hr class="bg-primary" />
          }
          <div class="timeline-start timeline-box">
            <div class="font-semibold" [class.text-primary]="isEndArticle">{{ item.title }}</div>
          </div>
          <div class="timeline-middle">
            @if (isCurrentArticle && !isEndArticle) {
              <i class="fa-regular fa-circle"></i>
            } @else {
              <i class="fas fa-check-circle text-primary"></i>
            }
          </div>
          <div class="timeline-end timeline-box">
            <div class="text-xs" [class.text-green-600]="isEndArticle">{{ item.time | date: 'mm:ss.SS' }}</div>
          </div>
          @if (!isEndArticle) {
            <hr [class]="isCurrentArticle ? 'bg-base-content' : 'bg-primary'" />
          }
        </li>
      }

      @if (!hasReachedEnd()) {
        <li>
          <hr class="bg-base-content" />
          <div class="timeline-start timeline-box">
            <div class="font-semibold text-primary">{{ gameStateService.endArticle()!.title }}</div>
          </div>
          <div class="timeline-middle">
            <i class="fa-regular fa-circle text-primary"></i>
          </div>
          <div class="timeline-end timeline-box">
            <div class="text-xs text-error">DNF</div>
          </div>
        </li>
      }
    </ul>
  </div>
  <div class="rounded-2xl bg-base-300 m-2 p-2 flex-shrink-0">
    <h1 class="text-2xl text-green-600 my-auto whitespace-nowrap">
      {{ gameStateService.elapsedTime() | date: 'mm:ss.SS' }}
    </h1>
  </div>

  @if (gameStateService.state() === AppState.RESULTS) {
    <button (click)="gameStateService.reset()" class="btn btn-success w-1/2 mt-4 mx-auto rounded-2xl">
      New Game
      <i class="fas fa-play text-xl p-0.5"></i>
    </button>
  }
</div>
