<div class="hero-content flex flex-col justify-items-start align-bottom">
  <h1 class="text-5xl font-bold">Test your knowledge!</h1>
  <p class="py-6">The rules of the game are simple. The fastest time wins!</p>
  <ul class="list-disc list-inside">
    <li>Choose a starting and a goal article.</li>
    <li>Press the start button to begin the game.</li>
  </ul>
  <p class="py-6">
    You will be presented with articles, if you click on a <a class="inline link-accent">link</a>, it will open that
    article.
  </p>
  <button class="btn btn-primary btn-lg" (click)="createLobby()">Create Lobby</button>
</div>
